In [2]:
# EXCERCISE III

# COUPE DE ESCRIVA 2023: FOOTBALL PICKS
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba: ': 'Chubby Obiora-Okafo', 'Blue-Jays: ': 'Christopher Umeh', 'Cirok: ': 'Alexander', 'TSG Walkers:': 'Ikechukwu'}

goalkeepers = {'Madiba: ': 'Chubby Obiora-Okafo',
               'Blue-Jays: ': 'Oladimeji Abaniwondea/Jeffery Awagu',
               'Cirok:': 'Timileyin Pearse/Izuako Jeremy',
               'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
     print(pick, captain[pick])
        
print("\n")

for pick in goalkeepers:
    print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Christopher Umeh
Cirok:  Alexander
TSG Walkers: Ikechukwu


Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok: Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku

In [28]:
# PROJECT 1

# Girls data
data = [
         ['Samantha', 17, 5.5, 80],
         ['Jada', 16, 6.0, 85],
         ['Jane', 17, 5.4, 70],
         ['Claire', 18, 5.9, 60],
         ['Elizabeth', 16, 5.6, 76],
         ['Mary', 18, 5.5, 66],
         ['Susan', 17, 6.1, 87],
         ['Waje', 20, 6.0, 95],
         ['Taibat', 19, 5.7, 50],
         ['Lilian', 17, 5.5, 49],        
 ]
    
heading = ['Name', 'Age', 'Height', 'Score']


for col in heading:
    print(f'{col:<10}', end='')
    
    
print()
        
for row in data:
    for col in row:
        print(f'{col:<10}', end='')
    print()

Name      Age       Height    Score
Samantha  17        5.5       80
Jada      16        6.0       85
Jane      17        5.4       70
Claire    18        5.9       60
Elizabeth 16        5.6       76
Mary      18        5.5       66
Susan     17        6.1       87
Waje      20        6.0       95
Taibat    19        5.7       50
Lilian    17        5.5       49

In [27]:
# PROJECT 1
# boys data

data = [
         ['Charles', 19, 5.7, 74],
         ['Jude', 16, 5.9, 87],
         ['James', 18, 5.8, 75],
         ['Kelvin', 17, 6.1, 68],
         ['Biodun', 20, 5.9, 66],
         ['Wale', 19, 5.5, 78],
         ['Kunle', 16, 6.1, 87],
         ['Matthew', 18, 5.4, 98],
         ['Tom', 17, 5.8, 54],
         ['Kayode', 19, 5.7, 60],        
 ]
    
heading = ['Name', 'Age', 'Height', 'Score']


for col in heading:
    print(f'{col:<10}', end='')
    
    
print()
        
for row in data:
    for col in row:
        print(f'{col:<10}', end='')
    print()

Name      Age       Height    Score
Charles   19        5.7       74
Jude      16        5.9       87
James     18        5.8       75
Kelvin    17        6.1       68
Biodun    20        5.9       66
Wale      19        5.5       78
Kunle     16        6.1       87
Matthew   18        5.4       98
Tom       17        5.8       54
Kayode    19        5.7       60